importFrom("grDevices", "rgb")
importFrom("graphics", "abline", "axis", "legend", "mtext", "points", "text")
importFrom("stats", "ecdf", "kmeans", "predict", "qnorm", "quantile", "rbinom", "runif", "sd", "supsmu")
importFrom("utils", "methods", "modifyList")
  
import(sfsmisc)

export(ice, dice, clusterICE)

S3method(plot, ice)
S3method(print, ice)
S3method(summary, ice)

S3method(plot, dice)
S3method(print, dice)
S3method(summary, dice)